{% extends 'base.html' %}

{% block content %}
    <div class="container">
<h1>Nearby location name </h1>

{% for p in points %}
<p>{{ p.name }}</p>
{% endfor %}
<script>
var points="Query all {{points|safe}}";
console.log(points)

var names=[
{% for point in points %}
"{{point.name}}","{{point.location.x}}",
{% endfor%}
]
console.log('kl',names)
var loc=[
{% for point in points %}


{% endfor%}
]

</script>
<ul>
{% for point in allpoints %}
<li>{{points.name}}
</li>
{% endfor %}
</ul>

<a class="btn btn-primary" href="http://localhost:8000/viewpoints"> Query from new location </a>
<br>
<a class="btn btn-primary" href="http://localhost:8000/allpoints"> All stored locations </a>
<br>
<a class="btn btn-primary" href="http://localhost:8000/addlocation"> Add new location </a>
<br>
<div id="map" style="width: 100%; height: 600px"></div>
    </div>
<script>
  var lat={{allpoint.lat|safe}}
  long={{allpoint.long|safe}}
  map = L.map('map').setView([11,79], 7);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  for(i=0;i<lat.length;i++){
	L.marker([lat[i],long[i]]).addTo(map).bindPopup(names[i]).openPopup();
  }
  </script>

{% endblock %}